body, html {
	background-color: black;
	height: 100vh;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-weight: 100;
}

header,footer {
	background-color: black;
	width: 100vh;
}

header {
	height:10vh;
	margin: 0 !important;

}

button {
	bottom: 10px;
	right: 10px;
}

h1 {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	color: white;
	margin-left: 40px;
	display: inline-block;
	vertical-align: middle;
}

.viz {
	display: none;
}

#loading{
	width: 80px;
	height: 80px;
	display: none;
}

#time{
	margin-left: 40px;
	h3 {
		font-family: "Lato", sans-serif;
		color: white;
		font-weight: 100;

	}
}
#timeUpdate {
	margin-left: 15px;
}

h4 {
	font-weight: 100;
	margin-bottom: 5px;
}

hr {
	margin-bottom: 10px;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(123, 190, 81, 0), rgba(123, 190, 81, 0.75), rgba(123, 190, 81, 0));
}

li,p {
	font-family: "Lato", sans-serif;
	font-weight: 100;
}

footer {
	height:10vh;
}

i {
	color: #fff;
	margin: 20px 15px 0 0;
}

span {
	font-family: "Lato", sans-serif;


}
span.char {
	color: white;
	display: inline-block;
	margin-left: -12px;
	margin-top: 30px;

	-webkit-transform: rotate(299deg);
    -moz-transform: rotate(299deg);
    -ms-transform: rotate(299deg);
    -o-transform: rotate(299deg);
    transform: rotate(299deg);

    &:hover {
    	color:#7BBE51;
    	cursor: pointer;
    	cursor: hand;
    }
}

.options-title {

	-webkit-transform: translate(1em,5em);
    -moz-transform: translate(1em,5em);
    -o-transform: translate(1em,5em);
    -ms-transform: translate(1em,5em);
    transform: translate(1em,5em);

}

#map, #map.leaflet-container.leaflet-fade.anim {
	width: 100%;
	height: 80vh;
	margin: 0;
}

.options {

	background-color: black;
	height: 25em;
	width: 28em;
	border-radius: 50%;
	position: fixed;
	top: 27vh;
	right: -24em;
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    i {
    	vertical-align: middle;
    	color: white;
    	margin-top: 30%;
    	margin-left: 10px;
    }

    label {
    	color: white;
		font-family: "Lato", sans-serif;
		font-weight: 100;
    }

    .btn.btn-radio { background-color:#FFF;border-color:#CCC;color:#333; }
}

.option-list {
	margin-top: 50px;
}

.options-radio {
	margin-left: 80px;
	color: #7BBE51;
}

h5 {
	margin-left: 60px;
	color: #7BBE51;
	font-weight: 100;


}

.hideOptions:hover {
	-webkit-transform: translate(-10em,0);
    -moz-transform: translate(-10em,0);
    -o-transform: translate(-10em,0);
    -ms-transform: translate(-10em,0);
    transform: translate(-10em,0);
}

.radius,.route {
	margin-left: 65px;
	color: white;

	p {
		&:hover{
			color: #7BBE51;
			cursor: pointer;
			cursor: hand;
		}

	}
}

.route {
	p {
		margin-right: 6px;
	}
}

#viz:hover {
	font-weight: bold;
	cursor: pointer;
	cursor: hand;

}

.not {
	text-decoration: line-through;
}

.leaflet-popup-content {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: white;
	background-color: black;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: black;
}

.leaflet-routing-container, div.leaflet-routing-alt{
	display: none;
	height: 0;
	width: 0;
}

path.leaflet-clickable {
	stroke-width: 2;
}
/////// d3 ///////////////

    svg {
        position: relative;
    }
    path {
        //fill: yellow;
        stroke-width: 2px;
        //stroke: red;
        stroke-opacity: 1;
    }
    .travelMarker {
        fill: #7BBE51;
        opacity: 0.75;
    }
    .waypoints {
        fill: black;
        opacity: 0;
    }

.drinks {
    stroke: black;
    fill: red;
}
.lineConnect {
	stroke-width: 2px;
    fill: none;
    stroke: #7BBE51;
    opacity: 1;
}
.lineConnect2 {
	stroke-width: 1px;
    fill: none;
    stroke: #7BBE51;
    opacity: 1;
}
.locnames {
    fill: black;
    text-shadow: 1px 1px 1px #FFF, 3px 3px 5px #000;
    font-weight: bold;
    font-size: 13px;
}
